<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ST31X2PQDX"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'G-ST31X2PQDX');
    </script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prabhu's Resume</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/static/css/font-awesome.min.css" rel="stylesheet">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/aos.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/main.css') }}">

    <noscript>
      <style type="text/css">
        [data-aos] {
            opacity: 1 !important;
            transform: translate(0) scale(1) !important;
        }
      </style>
    </noscript>
  </head>
  
  <body id="top">
    <header>
      <div class="profile-page sidebar-collapse">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent bg-primary" color-on-scroll="400">
          <img alt="Website" src="https://img.shields.io/website?color=green&down_color=lightgrey&down_message=offline&style=flat-square&up_color=blue&up_message=online&url=http%3A%2F%2Fprabhuresume.com%2F">
            <div class="container">
            <button class="navbar-toggler navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-bar bar1"></span><span class="navbar-toggler-bar bar2"></span><span class="navbar-toggler-bar bar3"></span></button>
            <div class="collapse navbar-collapse justify-content-end" id="navigation">
              <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#about">About</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#skill">Skills</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#experience">Experience</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#portfolio">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link smooth-scroll" href="#contact">Contact</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <div class="page-content">
      <div>
<div class="profile-page">
  <div class="wrapper">
    <div class="page-header page-header-small" filter-color="white">
      <div class="page-header-image" data-parallax="true" style="background-image: url('static/images/cc-bg-1.jpg')"></div>
      <div class="container">
        <div class="content-center">
          <div class="cc-profile-image"><a href="#"><img src="static/images/prabhu.jpg" alt="Image"/></a></div>
          <a href="https://twitter.com/prabhus165" target="_blank"><img alt="Twitter Follow" src="https://img.shields.io/twitter/follow/prabhus165?style=social"></a>
          <a href="https://github.com/login?return_to=https%3A%2F%2Fgithub.com%2FprabhuSub" target="_blank"><img alt="GitHub followers" src="https://img.shields.io/github/followers/prabhuSub?style=social"></a>
          <div class="h2 title">Prabhu Subramanian</div>
          <p class="category text-white">Data Analyst | Data Engineer</p><a class="btn btn-primary smooth-scroll mr-2" href="#contact" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Hire Me</a><a class="btn btn-primary" target="_blank" href="{{ url_for('static',filename='Prabhu Data Engineer.pdf') }}" data-aos="zoom-in" data-aos-anchor="data-aos-anchor">Download CV</a>
        </div>
      </div>
      <div class="section">
        <div class="container">
          <div class="button-container"><a class="btn btn-default btn-round btn-lg btn-icon" target = "_blank" href="https://www.facebook.com/prabhus165/" rel="tooltip" title="Follow me on Facebook"><i class="fa fa-facebook"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://twitter.com/prabhus165" rel="tooltip" title="Follow me on Twitter"><i class="fa fa-twitter"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://github.com/prabhuSub" rel="tooltip" title="Follow me on Github"><i class="fa fa-github"></i></a><a class="btn btn-default btn-round btn-lg btn-icon" target="_blank" href="https://www.linkedin.com/in/prabhu-subramanian/" rel="tooltip" title="Follow me on LinkedIn"><i class="fa fa-linkedin"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="about">
  <div class="container">
    <div class="card" data-aos="fade-up" data-aos-offset="10">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">About</div>
            <p>Hello! I’m Prabhu Subramanian. I am a passionate <strong></strong>Data Analyst and Machine Learning enthusiast</strong>--who can analyze data meticulously to bring out its various potentials to build a predictive model, producing an efficient way to explain data through EDA and visualizations. Supporting skills to do so are Python (PEP8), SQL, and Tableau.
              <p>I offer excellent talent in analytical and communication skills. I strive to learn, teach and enhance my skills as an avid Data Analyst, Scientist, and Machine Learning enthusiast with a parallel knowledge of Data Engineering.</p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="card-body">
            <div class="h4 mt-0 title">Basic Information</div>
            <div class="row">
              <div class="col-sm-4"><strong class="text-uppercase">Age:</strong></div>
              <div class="col-sm-8">28</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Email:</strong></div>
              <div class="col-sm-8">subramanian.pr@northeastern.edu</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Phone:</strong></div>
              <div class="col-sm-8">+1 617-982-4335</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Address:</strong></div>
              <div class="col-sm-8">San Francisco, U.S.A</div>
            </div>
            <div class="row mt-3">
              <div class="col-sm-4"><strong class="text-uppercase">Language:</strong></div>
              <div class="col-sm-8">English, Hindi, Tamil, Malayalam</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="skill">
  <div class="container">
    <div class="h4 text-center mb-4 title">Professional Skills</div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <b>DBMS:</b> MySQL, Microsoft SQL Server, PostgreSQL, Oracle, Snowflake, Aurora, Redshift, DynamoDB, Teradata<br><br>
        <b>ETL & Tools:</b> SSIS, SSAS, Alteryx, Talend, Athena, Putty, Docker, Kubernetes, Terraform, Jenkins, Atlantis<br><br>
        <b>Programming languages:</b> Tableau, Microsoft Power BI, Excel, SAP, BI HANA<br><br>
        <b>Cloud Engineering:</b> Google Cloud Platform, Amazon Web Service, Microsoft Azure, MinIO, Grafana
      </div>
    </div>
    <div class="card" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">Python</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">SQL</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div><span class="progress-value">90%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">JavaScript</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div><span class="progress-value">60%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">HTML</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div><span class="progress-value">80%</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">CSS</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div><span class="progress-value">75%</span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="progress-container progress-primary"><span class="progress-badge">C/C#</span>
              <div class="progress">
                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"></div><span class="progress-value">50%</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section" id="experience">
  <div class="container cc-experience">
    <div class="h4 text-center mb-4 title">Work Experience</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <svg width="100" height="45">       
              <image href="static/images/Levis-Logo.svg" width="100"  height="45"/>
            </svg>
            <p>Apr 2021 - Present</p>
            <div class="h5">Levi Strauss & Co.</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Data Analyst</div>
              <p>
                <ul>
                  <li>Developing Python-based tools to automate reports on cloud integrating with SAP/BI HANA, SharePoint using shell scripting.</li>  
                  <li>Developed and deployed Alteryx pipelines by integrating the tableau command-line interface and published extracts to Tableau
                    dashboards to visualize the on-hand inventory</li>
                  <li>Established ~90-100% automation for business users based on various complex manual file integrations</li>
                </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <svg width="150" height="50">       
              <image href="static/images/squark logo.webp" width="150"  height="50"/>
            </svg>
            <p>January 2019 - December 2020</p>
            <div class="h5">SquarkAI</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Graduate Programmer Analyst</div>
            <p>
              <ul>
                <li>Improved the execution speed of Python scripts to load and predict machine learning models of H2O Java Virtual Machine by
                  50%, using parallel processing technique.</li>
                <li>Developed scripts to connect MinIO framework with AWS S3 buckets to access the customer datasets to run the predictions and
                    export the results back to AWS S3 bucket for user consumption</li>
                <li>Reduced the developer’s testing time by 90% by designing automated testing scripts using Python and Git CLI.</li>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <svg width="120" height="50">       
              <image href="static/images/paccar logo.png" width="120"  height="50"/>
            </svg>
            <p>January 2020 - June 2020</p>
            <div class="h5">Peterbilt Motor Company (PACCAR)</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Data Engineer Intern</div>
            <p>
              <ul>
                <li>Failure Mode Identification (Machine Learning, Neural Networks, Natural Language Processing, AWS)</li>
                <ul>
                  <li>Improved the speed of cleaning customer warranty data by 50% through preprocessing scripts</li>  
                  <li>Improved AWS pipeline for the internal team by establishing script logs and email notifications for pipeline completion</li>
                  <li>Developed scripts to export CloudWatch metadata to visualize resource usage using d3 visualization</li>
                </ul>
                <li>Platinum Score Card (Excel, ETL, Database, AWS)</li>
                <ul>
                  <li>Developed data warehouse pipeline from various data sources like Snowflake, Teradata, Excel, Microsoft SQL Server to calculate and publish Customer scores using Python Flask application</li>  
                  <li>Deployed AWS pipeline using Docker and Kubernetes leveraging AWS Services - SNS, SQS, SES, S3, EC2, Lambda</li>
                </ul>
              </ul>
              </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-experience-header">
            <svg width="60" height="60">       
              <image href="static/images/hp logo.png" width="60"  height="60"/>
            </svg>
            <p>November 2015 - July 2018</p>
            <div class="h5">Hewlett Packard</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">Software Engineer</div>
            <p>
              <ul>
                  <li>Developed Enterprise Resource Planning dashboards for Supply Chain, Manufacturing, and Finance teams</li>  
                  <li>Improved application query optimization by 68% for the product report generation by improving database schema</li>
                  <li>Customized and implemented supply-chain optimization tools like Kanban process using SQL functions, procedures, and triggers</li>
                  <li>Maximized the operation of Customer Self Service application by 30% by leading the QA team for application query testing</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container cc-education">
    <div class="h4 text-center mb-4 title">Education</div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2018 - 2020</p>
            <div class="h5">Master's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">M.S. in Information Systems</div>
            <p class="category">Northeastern University</p>
            <p>Relevant Coursework: Data Management & Database Design, Designing Data Architecture & Business Intelligence, Big Data
              Architecture & Governance, Project Planning & Management</p>
            <!-- <p>
              <b>Projects:</b><br>
              <ul>
              <li>Human Trafficking Knowledge Graph - A knowledge graph generating project that helped identify over 100 cases of 
              Human Trafficking around NYC. Judged as the best solution for the competition.</li>
              <li>Hate Comment Detector – A flask powered website to automatically filter hate comments from Twitter and Live News using 
              Logistic Regression algorithm.</li>
            </ul>
          </p> -->
          </div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="row">
        <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body cc-education-header">
            <p>2014 - 2018</p>
            <div class="h5">Bachelor's Degree</div>
          </div>
        </div>
        <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
          <div class="card-body">
            <div class="h5">B.Engg in Electronics & Telecommunication</div>
            <p class="category">University of Pune</p>
              <!-- <b>Projects:</b><br>
              <ul>
              <li>AutoPlay - A Machine Learning model to predict the outcome of a cricket game beforehand, based on the past records 
                and performances.</li>
            </ul> -->
          </p>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-md-6 ml-auto mr-auto">
            <div class="h4 text-center mb-4 title">Recent Activities</div>
            <div class="nav-align-center">
              <ul class="nav nav-pills nav-pills-primary" role="tablist">
                <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#web-development" role="tablist"><i class="fa fa-laptop" aria-hidden="true"></i></a></li>
                <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#graphic-design" role="tablist"><i class="fa fa-picture-o" aria-hidden="true"></i></a></li> -->
                <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#Photography" role="tablist"><i class="fa fa-camera" aria-hidden="true"></i></a></li> -->
              </ul>
            </div>
          </div>
        </div>
        <div class="tab-content gallery mt-5">
          <div class="tab-pane active" id="web-development">
            <div class="ml-auto mr-auto">
              <div class="row">
                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                      <figure class="cc-effect"><img src="static/images/honor.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Recent Honor</div>
                          <p>Information Systems Teaching Assistanct Award</p>
                        </figcaption>
                      </figure></a></div>
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                      <figure class="cc-effect"><img src="static/images/teaching.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Workshops</div>
                          <p>AI Skunkworks Workshop</p>
                        </figcaption>
                      </figure></a></div>
                </div>
                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                      <figure class="cc-effect"><img src="static/images/skunkwork workshop 1.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Teaching Students</div>
                          <p>NEU Workshop</p>
                        </figcaption>
                      </figure></a></div>
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#web-development">
                      <figure class="cc-effect"><img src="static/images/gsa neu.jpeg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Graduate Student Ambassador Team</div>
                          <p>Studen Group and Representative for Information Systems of Northeastern University</p>
                        </figcaption>
                      </figure></a></div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="graphic-design" role="tabpanel">
            <div class="ml-auto mr-auto">
              <div class="row">
                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                      <figure class="cc-effect"><img src="static/images/graphic-design-1.jpg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Triangle Pattern</div>
                          <p>Graphic Design</p>
                        </figcaption>
                      </figure></a></div>
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                      <figure class="cc-effect"><img src="static/images/graphic-design-2.jpg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Abstract Umbrella</div>
                          <p>Graphic Design</p>
                        </figcaption>
                      </figure></a></div>
                </div>
                <div class="col-md-6">
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                      <figure class="cc-effect"><img src="static/images/graphic-design-3.jpg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Cube Surface Texture</div>
                          <p>Graphic Design</p>
                        </figcaption>
                      </figure></a></div>
                  <div class="cc-porfolio-image img-raised" data-aos="fade-up" data-aos-anchor-placement="top-bottom"><a href="#graphic-design">
                      <figure class="cc-effect"><img src="static/images/graphic-design-4.jpg" alt="Image"/>
                        <figcaption>
                          <div class="h4">Abstract Line</div>
                          <p>Graphic Design</p>
                        </figcaption>
                      </figure></a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section" id="reference">
      <div class="container cc-reference">
        <div class="h4 mb-4 text-center title">References</div>
        <div class="card" data-aos="zoom-in">
          <div class="carousel slide" id="cc-Indicators" data-ride="carousel">
            <ol class="carousel-indicators">
              <li class="active" data-target="#cc-Indicators" data-slide-to="0"></li>
              <li data-target="#cc-Indicators" data-slide-to="1"></li>
              <li data-target="#cc-Indicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="row">
                  <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/carsenmcbride.jpeg" alt="Image"/>
                    <div class="h5 pt-2">Carsen</div>
                    <p class="category">Tech Recruiter at Company</p>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <p> Prabhu is a dedicated, innovative team member. I supervised Prabhu directly during his time as Graduate Student Ambassador for College of Engineering and he brought many admirable qualities to the program. He is professional, agile, and a true collaborator on projects.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/nikbearbrown.jpeg" alt="Image"/>
                    <div class="h5 pt-2">Nik Bear</div>
                    <p class="category">CTO at AI Company</p>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <p> He is a great hard worker, a leader, and a teacher by heart. He is talented and works independently on achieving his goal, hence was recommended for a Teaching Assistant award. His knowledge, skills, enthusiasm, and interest in data engineering makes him a good fit for any innovative team.</p>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="row">
                  <div class="col-lg-2 col-md-3 cc-reference-header"><img src="static/images/chibuzor.jpeg" alt="Image"/>
                    <div class="h5 pt-2">Chibuzor</div>
                    <p class="category">Data Scientist at AI Company</p>
                  </div>
                  <div class="col-lg-10 col-md-9">
                    <p> I worked on a project with Prabhu when he was a Data Engineer intern at Paccar.
                        Prabhu is a self-motivated person with great work ethics. He was always open-minded to learning new things and always willing to ask important questions. Prabhu was a team player that was always ready to help anyone. For an intern, he showed a deep understanding of many data engineering subjects. I have no doubt that he will be a valuable member of the right data team.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="section" id="contact">
  <div class="cc-contact-information" style="background-image: url('static/images/map.JPG')">
    <div class="container">
      <div class="cc-contact">
        <div class="row">
          <div class="col-md-9">
            <div class="card mb-0" data-aos="zoom-in">
              <div class="h4 text-center title">Contact Me</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="card-body">
                    <form action="/sendemail/" method="POST">
                      <div class="p pb-3"><strong>Feel free to contact me </strong></div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-user-circle"></i></span>
                            <input class="form-control" type="text" name="name" placeholder="Name" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                            <input class="form-control" type="text" name="Subject" placeholder="Subject" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="input-group"><span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                            <input class="form-control" type="email" name="_replyto" placeholder="E-mail" required="required"/>
                          </div>
                        </div>
                      </div>
                      <div class="row mb-3">
                        <div class="col">
                          <div class="form-group">
                            <textarea class="form-control" name="message" placeholder="Your Message" required="required"></textarea>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col">
                    
                            <button class="btn btn-primary" type="submit">Send</button>

                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card-body">
                    <p class="mb-0"><strong>Address </strong></p>
                    <p class="pb-2">San Francisco, U.S.A</p>
                    <p class="mb-0"><strong>Phone</strong></p>
                    <p class="pb-2">+1 617-982-4335</p>
                    <p class="mb-0"><strong>Email</strong></p>
                    <p>subramanian.pr@northeastern.edu</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div></div>
    </div>
    <footer class="footer">
      <div class="container text-center"><a class="cc-facebook btn btn-link" target="_blank" href="https://www.facebook.com/prabhus165/"><i class="fa fa-facebook fa-2x " aria-hidden="true"></i></a><a class="cc-twitter btn btn-link " target="_blank" href="https://twitter.com/prabhus165"><i class="fa fa-twitter fa-2x " aria-hidden="true"></i></a><a class="cc-google-plus btn btn-link" target="_blank" href="https://github.com/prabhuSub"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a><a class="cc-instagram btn btn-link" target="_blank" href="https://www.linkedin.com/in/prabhu-subramanian/"><i class="fa fa-linkedin fa-2x " aria-hidden="true"></i></a></div>
      <div class="h4 title text-center">Prabhu Subramanian</div>
      <div class="text-center text-muted">
        <p>&copy; Creative CV. All rights reserved.<br>Design - 
          <a class="credit" href="https://github.com/prabhuSub/flask-app-resume-web/blob/main/LICENSE" target="_blank">LICENSE</a>
          <a href="https://github.com/prabhuSub/flask-app-resume-web/blob/main/LICENSE" target="_blank"><img alt="MIT LICENSE" src="https://img.shields.io/badge/license-MIT-blue"></a>
        </p>
      </div>
    </footer>
    <script src="{{ url_for('static',filename='js/core/jquery.3.2.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/popper.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/core/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/now-ui-kit.js') }}"></script>
    <script src="{{ url_for('static',filename='js/aos.js') }}"></script>
    <script src="{{ url_for('static',filename='scripts/main.js') }}"></script>
  </body>
</html>